<html>
    <head>
        <title>Mini Messenger</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div>
            <%- include('header', { links: links }) %>
            <form method="POST" action="/new">
                <input name="messageUser" type="text" placeholder="Name">
                <input name="messageText" type="text" placeholder="Message">
                <button class="submitBtn" type="submit">Send</button>
             </form>
        </div>
    </body>
</html>