<html>
    <head>
        <title>Mini Messenger</title>
    </head>
    <body>
        <div>
            <%- include('header', { links: links }) %>
            <form method="POST" action="/new">
                <!-- <h1>New Message</h1> -->
                <input name="messageUser" type="text" placeholder="Name">
                <input name="messageText" type="text" placeholder="Message">
                <button type="submit">Send</button>
             </form>
        </div>
    </body>
</html>