* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    font-size: 1rem;
    max-width: 900px;
    margin: auto;
}

nav {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 3rem;
    background-color: white;
    padding: 1.2rem 4rem 1.2rem 4rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

li:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

/* New Page style */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

input {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.submitBtn {
    font-size: 1rem;
    font-weight: 800;
    border: none;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    width: 8rem;
    cursor: pointer;
}

.submitBtn:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

/* Index page style */

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    margin: auto;
    max-height: 70vh; /* Set a fixed height or max-height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some padding for the scrollbar */
}

.messageContainer {
    width: auto;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userHolder {
    /* max-width: 500px; */
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.textMessage {
    font-size: 1.2rem;
}

.userName {
    font-size: 10px;
}

.date {
    font-size: 10px;
}

.detailsBtn {
    font-size: 10px;
    font-weight: 800;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 2rem;
    width: 8rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.detailsBtn:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

.topContainer::-webkit-scrollbar {
    width: 6px;
}
  
.topContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
  
.topContainer::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

.newMessageBottom {
    font-size: 1rem;
    font-weight: 800;
    border: none;
    background-color: black;
    color: white;
    padding: 14px;
    border-radius: 2rem;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    text-decoration: none;
    text-align: center; 
    width: fit-content; 
}

.newMessageBottom:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}